@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
@*<h3>@ViewData["Message"]</h3>*@

<p>A simple 4 band resistor color code calculator based on the following <a target="_blank" href="https://en.wikipedia.org/wiki/Electronic_color_code">specifications</a>.</p>
